body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/96a6e381769399.5d096fa30e358.jpg")
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#header {
  text-align: center;
  color: black;
  width: 80%;
  background-color: antiquewhite;
  margin: auto;
  font-size: 2.0em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#navBar {
  text-align: center;
  background-color: burlywood;
  width: 80%;
  height: 70px;
  margin: auto;
  border: solid black 1px;
  font-size: 1.5em;
}

#home, #studentContainer, #courseContainer, #departmentContainer {
  background-color: moccasin;
  width: 77.5%;
  text-align: center;
  margin: auto;
  padding: 20px
}

.studentCard, .courseCard {
  text-align: left;
  width: 80%;
  margin: 20px auto;
  border: solid lightsalmon 1px;
  padding: 10px;
  border-radius: 4px;
}

.departmentCard {
  text-align: center;
  width: 60%;
  margin: 20px auto;
  border: solid lightsalmon 1px;
  padding: 10px;
  border-radius: 4px;
}

.showCoursesBtn {
  background-color: darkslategray;
  color: white;
  border-radius: 3%;
  height: 30px;
  width: 150px;
  font-size: 1.0em;
}

.courseList h4 {
  font-size: 1.2em;
}

#studentSearch {
  width: 300px;
  margin: 30px;
  display: inline;
  padding: 50px;
  font-size: 1.0em;
}

#deptSortBtn {
  height: 50px;
  width: 250px;
  font-size: 1.5em;
  background-color: darkslategray;
  color: white;
  border-radius: 3%;
}

#home p {
  font-size: 1.2em;
  margin: 40px
}